/* All screen sizes */
nav{
	padding: 0;
}
nav.navbar{
	margin-bottom: 0;
	background-color: #50432B;
	color: white;
}
nav.navbar.navbar-default{
	border: 0;
}
nav.navbar .navbar-toggle{
	margin-top: 13px;
	margin-right: 5px;
	border: 0;
}
nav .navbar-brand{
	float: none;
	padding: 0;
}

/* Small screens <768px */
nav .navbar-brand .logo{
	padding: 5px;
	max-width: 60px;
}
nav h1{
	margin: 0 -20px;
	font-size: 2.2rem;
	margin-top: 20px;
}
#navbar-collapse-1{
	position: absolute;
	left: 0;
	top: 60px;
	height: 156px;
	width: 100%;
	text-align: center;
	background-color: #f8f8f8;
	color: #50432B;
	box-shadow: 0 0 3px #50432B;
}

/* Bigger screens >= 768px */
nav .navigation{
	padding: 13px;
	font-size: 1.5rem;
}
@media (min-width:768px){
nav h1{
	font-size: 3rem;
	letter-spacing: 1px;
}
nav .navbar-brand .logo{
	max-width: 70px;
}
.navbar > .container .navbar-brand{
	margin-left: 0;
}
}
@media (min-width:992px){
nav h1{
	font-size: 3.5rem;
	letter-spacing: 2px;
}
}