section#pic{
	background: url('../img/background-thistle.jpg');
	background-size: cover;
	background-position-y: center;
}
section#pic .hw{
	padding: 20px 50px;
	color: white;
	background-color: rgba(161,65,2,0.2)
}
@media (min-width:768px){
section#pic .hw{
	margin-top: 50px;
}
section#pic .hw h2{
	width: 500px;
	margin: 0 auto 0 5%;
}
}
section#intro{
	background-color: #50432B;
	color: white;
}
section#about-reals{
	background-color: antiquewhite;
}
section.plants{
	background-color: #fcfcfc;
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.plant.col-sm-4{
	padding: 0 10px 20px;
}
.plant .plant-inner{
	box-shadow: 0 0 3px #50432B;
	background-color: white;
}
.plant .header{
	background-color: rgba(80, 67, 43, 0.8);
	color: white;
	padding: 5px 15px;
	position: relative;
}
.plant .hw, .plant .pw{
	padding: 10px;
}
.plant h2{
	line-height: 36px;
	color: #50432B;
}
.plant h3{
	color: rgba(0,0,0,0.54);
}
.plant .imgw{
	background-size: cover;
	width: 100%;
	height: 300px;
}
.plant .imgw .imgsrc{
	position: absolute;
	right: 10px;
	top: 270px;
	padding: 5px 8px;
	background-color: rgba(0,0,0,0.4);
	border-top-left-radius: 8px;
	color: rgba(255,255,255,0.4);
	cursor: default;
}
.cover .plant{
	text-align: center;
	color: #fcfcfc;
}