section.about{
	background-color: antiquewhite;
}
section.cover{
	background-image: url('../img/cover-fence.jpg');
	background-size: cover;
	background-position-y: 200px;
}
section.plants{
	background-color: #eee;
}

.plant img{
	max-width: 300px;
	max-height: 300px;
}
.cover .plant{
	text-align: center;
	color: #fcfcfc;
}
.template{
	display: none;
}
